.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem 1rem 2rem;
  background-color: var(--primary);
  height: 4rem;
  position: relative;
  z-index: 10;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  transition: all 0.2s ease;
}
.logo-section:hover{
  cursor: pointer;
  color: var(--surface);
}

.logo-icon {
  font-size: 1.5rem;
}

.app-name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 0.5vw;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2.3rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.2s ease;
  font-size: 1.2rem;
}

.nav-links a:hover, .user-icon:hover {
  color: var(--surface);
}

.user-icon {
  font-size: 1.7rem;
  color: white;
  cursor: pointer;
}
.user-dropdown-wrapper {
  position: relative;
  background-color: var(--secondary);
  padding: 1.1rem 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  border-radius: 0.4rem 0 0 0.5rem;
  box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.04);
}

.user-dropdown {
  position: absolute;
  top: 2.8rem;
  right: 0;
  background: white;
  box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.15);
  border-radius: 0.75rem;
  min-width: 180px;
  font-size: 0.95rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.3rem 0;
}

.dropdown-username {
  padding: 0.8rem 1rem;
  font-weight: 500;
  color: #555;
  cursor: default;
}
.dropdown-username:hover {
  cursor: default;
}

.dropdown-item {
  padding: 0.7rem 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdown-item:hover {
  background: var(--lighter);
}


.auth-buttons {
  display: flex;
  gap: 1rem;
  padding-right: 1.2rem;
}

.auth-btn {
  padding: 0.2rem 1.2rem;
  border-radius: 0.5rem;
  background-color: transparent;
  color: var(--primary);
  text-decoration: none;
  transition: all 0.2s ease;
}.auth-btn.primary {
  background-color: var(--CTA);
  color: white;
  margin-left: 1rem;
  transition: all 0.2s ease;
  font-weight: 600;
  border: 2px solid var(--CTA);
}.auth-btn.primary:hover {
  background-color: var(--primary);
  color: white;
  margin-left: 1rem;
}.auth-btn.secondary {  
  font-weight: 600;
  border: 2px solid white;
}.auth-btn.secondary:hover {  
  background-color: white;
  color: var(--primary)
}

.dropdown-item, .dropdown-username {
  display: flex;
  align-items: center;
  padding: 0.6rem 1rem;
  width: 100%;
  cursor: pointer;
  gap: 0.6rem;
  color: #333;
}

.dropdown-icon {
  font-size: 1rem;
  margin-right: 0.3rem;
}

.logout {
  color: #d9534f;
  font-weight: 600;
}

.logout:hover {
  background: #ffe5e5;
}