body {
  margin: 0;
  background-color: var(--lighter);
  font-family: 'Montserrat', sans-serif;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 4rem);
}

.home-box {
  animation: fadeIn 0.6s ease;
}

.home-buttons {
  display: flex;
  gap: 2rem;
  padding-top: 5vh;
}

.home-buttons button {
  background-color: var(--secondary);
  width: 10vw;
  min-width: 170px;
  font-weight: 600;
  border: none;
}

.home-buttons button:hover {
  background-color: white;
  color: var(--secondary);
}

.home-buttons button:nth-child(2) {
  background-color: white;
  color: var(--secondary);
  border: var(--secondary) solid 0.2rem;
}
.home-buttons button:nth-child(2):hover {
  background-color: var(--secondary);
  color: white;
}


.iris-image {
  max-width: 300px;
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}

.welcome-text {
  font-size: 32px;
  font-weight: 600;
  color: #333;
  margin: 0;
}
.sub-text{
  font-weight: 400;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
